body {
  overflow-x: hidden;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  height: auto;
}

h1, h2, h3 {
color: rgba(0, 0, 0, 0.5);
margin-top: 15px;
/* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
}

#flashed_messages {
  position: absolute;
  max-width: 50%;
  top: 52px;
  left: 10%;
  right: 10%;
}

.h1-inherit {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.a-custom {
  text-shadow: 1px 1px 3px #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 125%;
  color: #204c7aeb;
  text-shadow: 0 0 3px #fff, 2px 2px 4px #000000;
}

.a-custom:hover {
  text-decoration: none;
  color: #5e83aadb;
  text-shadow: 0 0 1.5px #FF0000, 1px 1px 2px #000000;
}

.a-user-custom {
  font-size: 110%;
  text-decoration: none;
  font-weight: 600;
  color: #f4b400e0;
  text-shadow: 0 0 3px #FF0000, 2px 2px 4px #000000;
}

.a-user-custom:hover {
  font-size: 110%;
  text-decoration: none;
  font-weight: 600;
  color: #f4b400e0;
  text-shadow: 0 0 1.5px #FF0000, 1px 1px 2px #000000;
}

.bg-dark {
  background-color: #B2BF6D!important;
  background-color: #737234!important;
  text-shadow: 1px 1px 3px #000000;
}


.extra-top-margin {
  margin-top: 100px;
}

.no-top-margin {
  margin-top: 0px;
}

.highlight-img {
  width: 250px;
  height: 250px;
  margin: 20px;
}

.highlight-content {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  text-align: justify;
  font-size: 125%;
}

.card {
 padding: 15px;
 margin-top: 50px;
 /* min-height: 350px; */
}

.card-img {
  width: 100%;
  margin: 5px auto;
}

.card-title {
  font-size: 100%;
  text-align: center !important;
  font-variant: small-caps;
  font-weight: 600;
  min-height: 48px;
  max-height: 48px;
  margin-bottom: 0px;
}

.card-subtitle {
  font-size: 85%;
  font-style: italic;
  padding: 5px;
}

.card-text {
  /* font-size: 85%; */
  padding: 5px 0px;
}

.form {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 15px;
  padding: 25px;
}

.centered {
  text-align: center;
  display: block;
  padding: .5rem 1rem;
}

.table td, .table th {
  vertical-align: middle;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.tab {
  margin-left: 40px;
  font-family: sans-serif;
}

.btn-block {
  margin-top: .5rem !important;
}

.comment-table {
  padding: 5px 0 0 0 !important;
}

footer {
   /* background-color: #343a40!important; */
   background-color: #737234!important;
   color: rgba(255, 255, 255, 0.5);
   padding: 25px;
   margin-top: 100px;

}
