body {
  overflow-x: hidden;
  margin: 0px;
  background-color: rgba(225, 223, 171, .6) !important;
  height: auto;
}

.container-custom {
  /* padding-top: 1px; */
  box-shadow: 0px 0px 50px grey;
  border-radius: 5px;
  background-color: #d9d9d9; /*  */
  min-height: 70.2vh;
}

h1, h2, h3, h4 {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  text-shadow: 2px 1px 3px white;
  text-decoration: none;
}

h1:hover, h2:hover, h3:hover, h4:hover {
  text-decoration: underline;
}

#flashed_messages {
  position: absolute;
  max-width: 50%;
  top: 52px;
  left: 10%;
  right: 10%;
}

.h1-inherit {
  color: rgba(0, 0, 0, 0.5);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
  margin-bottom: 2em;
}

.bg-dark {
  background-color: rgba(110, 117, 15, 1) !important;
  text-shadow: 0px -2px 3px #000000;
}

.extra-top-margin {
  margin-top: 100px;
}

.no-top-margin {
  margin-top: 0px;
}

.highlight-content {
  width: 250px;
  margin: 20px auto;
  text-align: justify;
  font-size: 125%;
}

.card {
  padding: 15px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 10px black;
}

.card-img {
  width: 100%;
  margin: 5px auto;
  box-shadow: 1px 1px 10px black;
}

.card-title {
  font-size: 100%;
  text-align: center !important;
  font-variant: small-caps;
  font-weight: 600;
  min-height: 48px;
  max-height: 48px;
  margin-bottom: 0px;
}

.card-subtitle {
  font-size: 85%;
  font-style: italic;
  padding: 5px;
}

.card-text {
  /* font-size: 85%; */
  padding: 5px 0px;
}

.form {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 15px;
  padding: 25px;
  background-color: rgba(110, 117, 15, .4) !important;
  box-shadow: 1px 1px 10px black;
  text-shadow: 0px 1px 2px white;
}

.form-control {
  background-color: rgba(255, 255, 255, .6);
  box-shadow: -1px -1px 2px black;
  text-shadow: 0px 1px 2px white;
}

.form-check-label {
  margin: 5px auto 25px;
}

.centered {
  text-align: center;
  display: block;
  padding: .5rem 1rem;
}

.table td, .table th {
  vertical-align: middle;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.tab {
  margin-left: 40px;
  font-family: sans-serif;
}

.btn-block {
  margin-top: .5rem !important;
}

.comment-table {
  padding: 5px 0 0 0 !important;
}

footer {
   /* background-color: #343a40!important; */
   background-color: #737234!important;
   color: rgba(255, 255, 255, 0.5);
   padding: 10px 25px;
   margin-top: 50px;
   background-color: rgba(110, 117, 15, 1) !important;
   text-shadow: 0px 2px 3px #000000;
}

.a-custom {
  text-decoration: none;
  font-size: 125%;
  font-weight: 500;
  color: rgba(32, 76, 122, 0.9);
  text-shadow: none;
}

.a-custom:hover {
  font-size: 125%;
  text-decoration: none;
  font-weight: 600;
  color: rgba(32, 76, 122, 0.6);
  /* text-shadow: 0 0 2px #fff, 0px 1px 4px #000000; */
  text-shadow: 1px 1px 2px rgba(32, 76, 122, 0.9);
}

.a-user-custom {
  font-size: 110%;
  text-decoration: none;
  font-weight: 600;
  color: #f4b400e0;
  text-shadow: 0 0 3px #FF0000, 2px 2px 4px #000000;
}

.a-user-custom:hover {
  font-size: 110%;
  text-decoration: none;
  font-weight: 600;
  color: #f4b400e0;
  text-shadow: 0 0 1.5px #FF0000, 1px 1px 2px #000000;
}
