{% extends "base.html" %}

{% block app_content %}
  <div class="container">
    <div class="row extra-top-margin h1-inherit">
      <div class="col-md-8 col-sm-10">
        <h1>An unexpected error has occurred</h1>
      </div>
    </div> <!-- ends row -->
    <div class="row">
      <div class="col-md-8 col-sm-10">
        <p>The administrator has been notified. Sorry for the inconvenience!</p>
        <h2>Head <a href="{{ url_for('index') }}">Back</a>.</h2>
      </div>
    </div>
  </div> <!-- ends container -->
{% endblock %}
