<html>
    <head>
      {% if title %}
      <title>{{ title }} - Capstone</title>
      {% else %}
      <title>Welcome to Capstone</title>
      {% endif %}
    </head>
    <body>
        <div>
          Capstone:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Sign In</a>
          {% else %}
          <span>&emsp;&emsp;&emsp;&emsp;<img src="{{ current_user.avatar(28) }}" alt="Profile Photo">Welcome, {{ current_user.username }}&emsp;</span>
          <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          <a href="{{ url_for('logout') }}">Sign Out</a>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
