{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
  {% if title %}
    JiggerUp | {{ title }}
  {% else %}
    Welcome to JiggerUp
  {% endif %}
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel= "shortcut icon" href= "{{ url_for('static', filename='favicon.ico') }}" type= "image/x-icon">
  <link rel= "icon" href= "{{ url_for('static', filename='favicon.ico') }}" type= "image/x-icon">
{% endblock %}

{% block styles %}
  <!-- super inherits from parent, in this case we are inheriting bootstrap links to CDN's instead of writing them out ourselves -->
  {{ super() }}
  <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
  <div class="pos-f-t">
    <!-- <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.explore')}}">
          <img src="..\static\images\JUlogo30-m.png" width="30" height="30" class="d-inline-block align-top" alt="Nav Logo" id="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation"> JiggerUp
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ 'active' if active_page == 'explore' else '' }}">
              <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
            </li>
            <li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
              <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>
            <li class="nav-item {{ 'active' if active_page == 'pantry' else '' }}">
              <a class="nav-link" href="#">Pantry</a>
            </li>
            <li class="nav-item {{ 'active' if active_page == 'search' else '' }}">
              <a class="nav-link" href="{{ url_for('main.search')}}">Search</a>
            </li>
            <li class="nav-item {{ 'active' if active_page == 'recipe' else 'disabled' }}">
              <a class="nav-link" href="{{ url_for('main.recipe')}}">Recipe</a>
            </li>
          </ul>

          <span class="navbar-nav nav-item active dropdown my-2 my-lg-0 mr-sm-2">
            {% if current_user.is_anonymous %}
              <a class="nav-link {{ 'active' if active_page == 'signin' else '' }}" href="{{ url_for('auth.login') }}">Sign In</a>
            {% else %}
              <a class="nav-link a-user-custom dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="align-top" src="{{ current_user.avatar(26) }}" alt="Profile Photo">@{{ current_user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {{ 'active' if active_page == 'profile' else '' }}" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                <!-- <a class="dropdown-item {{ 'active' if active_page == 'action' else '' }}" href="#">Another action</a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign Out</a>
              </div>
              {% endif %}
          </span>
        </div>
      </div>
    </nav>
  </div>

  <div id="flashed_messages" class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}

{% block content %}

  {# application content #}
  {% block app_content %}{% endblock %}

  <!-- footer -->
  <div class="row static-bottom">
    <div class="col-md-12">
      <footer>
        <div class="row">
          <div class="container">
            <div class="col-md-12">
              <p class="text-center align-middle">
                Copyright 2019. <a class="a-custom" href="https://github.com/myrse7en">Developer Github: @myrse7en</a>
              </p>
            </div> <!-- ends col 12 -->
          </div>
        </div> <!-- ends row for footer text -->
      </footer>
    </div> <!-- ends col 12 for footer-->
  </div> <!-- ends row for footer -->
{% endblock %}
