{% extends "base.html" %}


{% block app_content %}
  <div class="container container-custom">
    <div class="row extra-top-margin h1-inherit">
      <div class="col-md-12">
        <h1>Featured</h1>
      </div> <!-- ends col 12 for title -->
    </div> <!-- ends row for title -->

<!-- Highlight Card -->
    <div class="row">
      {% for drink in random_drink %}
        <div class="container col-md-6 col-sm-10 col-xs-10">
          <div class="card">
            <div class="card-title">Today's Pick: <u>{{ drink['strDrink'].title() }}</u></div>
            <div class="card-img-top">
              <img class="card-img" src="{{ drink['strDrinkThumb'] }}" alt="Drink Image" />
            </div>
            <div class="highlight-content">
              <div class="card-subtitle">Category: {{ drink['strCategory'] }}</div>
              <div class="card-subtitle">Glass Type: {{ drink['strGlass'] }}</div>
              <div class="btn-group btn-block" role="group" aria-label="...">
                <button class="btn btn-block btn-outline-success" type="button" onClick="console.log({{ drink['idDrink'] }})">Save</button>
                <button class="btn btn-block btn-info" type="button" onClick="console.log({{ drink['idDrink'] }})">Mix</button>
                <button class="btn btn-block btn-outline-danger" type="button" onClick="console.log({{ drink['idDrink'] }})">X</button>
              </div>
            </div>
          </div> <!-- ends card -->
        </div> <!-- ends container -->
      {% endfor %}
    </div> <!-- ends row -->

<!-- Card Grid 4x2 -->
    <div class="row">
      {% for drink in category_drink[2:10] %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-img-top">
              <img class="card-img" src="{{ drink['strDrinkThumb'] }}" alt="Drink Image" />
            </div>
            <div class="card-title">{{ drink['strDrink'].title() }}</div>
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button class="btn btn-sm btn-block btn-outline-success" type="button" onClick="console.log({{ drink['idDrink'] }})">Save</button>
              <button class="btn btn-sm btn-block btn-info" type="button" onClick="console.log({{ drink['idDrink'] }})">Mix</button>
              <button class="btn btn-sm btn-block btn-outline-danger" type="button" onClick="console.log({{ drink['idDrink'] }})">X</button>
            </div>
          </div> <!-- ends card -->
        </div> <!-- ends col 3 -->
      {% endfor %}
    </div> <!-- ends row -->
    <br><br><hr>
    {% if current_user.is_anonymous %}
    <h3>Please <a href="{{ url_for('login')}}">Sign In</a> to see comments!</h3>
    {% else %}
      {% if form %}
        {{ wtf.quick_form(form) }}
      {% endif %}
      <h3>{{ 'Followed' if active_page == 'home' else 'Public' }} Posts: </h3>
      {% for post in posts %}
        {% include '_post.html' %}
      {% endfor %}
      <nav aria-label="Page Nav">
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item">
            <a class="page-link" href="{{ next_url if next_url else '' }}">Older</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{{ prev_url if prev_url else '' }}">Newer</a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </div> <!-- ends container -->
{% endblock %}
