{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row extra-top-margin">
      <div class="col-md-12">
        <h1>Featured</h1>
      </div> <!-- ends col 12 for title -->
    </div> <!-- ends row for title -->

    <div class="row">
      {% for drink in random_drink %}
        <div class="container card col-md-7">

            <div class="card-title">Today's Pick: <u>{{ drink['strDrink'].title() }}</u></div>
            <div class="row">

              <div class="col-md-6">
                <img class="highlight-img" src="{{ drink['strDrinkThumb'] }}" alt="Drink Image" />
              </div>
              <div class="highlight-content col-md-6">
                <div class="card-subtitle">Category: {{ drink['strCategory'] }}</div>
                <div class="card-subtitle">Glass Type: {{ drink['strGlass'] }}</div>
                <button class="btn btn-primnary" onClick="console.log({{ drink['idDrink'] }})">Mix It</
                button>
              </div>
            </div>

        </div> <!-- ends col 3 -->
      {% endfor %}
    </div> <!-- ends row -->

    <div class="row">
      {% for drink in category_drink[:8] %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-img-top">
              <img class="card-img" src="{{ drink['strDrinkThumb'] }}" alt="Drink Image" />
            </div>
            <div class="card-title">{{ drink['strDrink'].title() }}</div>
            <button class="btn btn-primnary" onClick="console.log({{ drink['idDrink'] }})">Mix It</button>
          </div> <!-- ends card -->
        </div> <!-- ends col 3 -->
      {% endfor %}
    </div> <!-- ends row -->


  </div> <!-- ends container -->


  <!-- <h1>Hi, {{ current_user.username }}!</h1>
  <br><br><hr>
  <h3>Comments: </h3>
  {% for post in posts %}
    <p>
      {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
  {% endfor %}
  <hr> -->
{% endblock %}
