{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row extra-top-margin">
      <div class="col-md-12">
        <h1>Featured</h1>
      </div> <!-- ends col 12 for title -->
    </div> <!-- ends row for title -->

    <div class="row">
      <div class="col-md-12">
        <img class="header-img" src="http://placehold.it/800x250" alt="Placehoder Image">
      </div> <!-- ends col 12 fir header image -->
    </div> <!-- ends row for header image -->

    <div class="row">
      {% for product in products.values() %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-img-top">
              <img class="card-img" src="{{ product.url }}" alt="Product">
            </div>
            <div class="card-title">{{ product.title }}</div>
            <div class="card-subtitle">${{ product.price }}</div>
            <div class="card-subtitle">{{ product.location }}</div>
            <div class="card-text">{{ product.desc }}</div>
            <button class="btn btn-primnary" onClick="console.log({{ product.id }})">Add to Cart</button>
          </div> <!-- ends card -->
        </div> <!-- ends col 3 -->
      {% endfor %}
    </div> <!-- ends row -->

  </div> <!-- ends container -->



  <!-- <h1>Hi, {{ current_user.username }}!</h1>
  <br><br><hr>
  <h3>Comments: </h3>
  {% for post in posts %}
    <p>
      {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
  {% endfor %}
  <hr> -->
{% endblock %}
