{% extends "base.html" %}

{% block app_content %}
  <div class="container container-custom">
    <div class="row extra-top-margin h1-inherit">
      <div class="col-md-5 col-sm-8">
        <h1>Sign In</h1>
      </div>
    </div> <!-- ends row -->
    <div class="row">
      <div class="col-md-5 col-sm-8">
        {{ wtf.quick_form(form, button_map={'submit': 'secondary centered'}) }}
        <p class="centered"><a class="a-custom" href="{{ url_for('reset_password_request') }}">Forgot your password?</a></p>
        <p class="centered">New to JiggerUp?<a class="a-custom" href="{{ url_for('signup') }}"> Create Account</a></p>
      </div>
    </div>
  </div> <!-- ends container -->


<!--
  <h1>Sign In</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  <p>New to JiggerUp?<a href="{{ url_for('signup') }}">Create account</a></p> -->
{% endblock %}
