{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="container">
    <div class="row extra-top-margin h1-inherit">
      <div class="col-md-5 col-sm-8">
        <h1>Edit Your Profile</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-8">
          {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div> <!-- ends container -->

<!--
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.headline.label }}<br>
            {{ form.headline(cols=50, rows=1) }}<br>
            {% for error in form.headline.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bio.label }}<br>
            {{ form.bio(cols=50, rows=4) }}<br>
            {% for error in form.bio.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
{% endblock %}
