{% extends "base.html" %}

{% block app_content %}
<div class="container container-custom">
  <div class="row extra-top-margin h1-inherit">
    <div class="col-md-5 col-sm-8">
      <h1>Reset Your Password</h1>
    </div>
  </div> <!-- ends row -->
  <div class="row">
    <div class="col-md-5 col-sm-8">
      {{ wtf.quick_form(form, button_map={'submit': 'secondary centered'}) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
</div> <!-- ends container -->
{% endblock %}
